In [3]:
for values in range(0,20):
    print(values)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [26]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [50]:
lists=[10, 20, 14, 55, 43, 87, 76]
print(lists,'\n',"Number of item in the List2: ",'\n',len(lists))

[10, 20, 14, 55, 43, 87, 76]
 Number of item in the List2:
 7